<div class="container">
<h1>New Video</h1>

<section class='add-video'>
<div class="video-form">
  <%= form_for([@player, @video]) do |t| %>
		<%= t.label :description %>
		<%= t.text_area :description %>

		<%= t.label :link %>
		<%= t.text_area :link %>

	<%= t.submit "Get Coached!", class: "btn btn-large btn-primary" %> 

	<% end %>

	<h4><a href="/" class="btn btn-primary">Actually I want to go back to all players</a></h4>

</div>
</section>
</div>