<div class="container">
<h1> 
  <%= @coach.first_name %> 
  <%= @coach.last_name %>
</h1>

<p>
	<%= @coach.ranking %>
</p>

	
<%= link_to "Update #{@coach.first_name} #{@coach.last_name}", edit_coach_path(@coach) %>

<%= link_to 'Delete', coach_path(@coach), :method => :delete %> 

<td><h4><a href= "/coaches" class= "btn btn-primary" >Back to all players</a></h4><td>
</div>